<template>
  <div class="row mx-auto">
    <form class="w-100">
      <div class="form-group">
        <label class="text-center">Quote</label>
        <textarea class="form-control mx-auto" cols="60" rows="3" v-model="quote"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" @click.prevent="createNew">Add Quote</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      quote: ""
    };
  },
  methods: {
    createNew() {
      this.$emit("quoteAdded", this.quote);
      this.quote = "";
    }
  }
};
</script>

<style scoped>
.row {
  text-align: center;
}
</style>
