<template>
  <div class="row">
    <app-quote v-for="(item, index) in quotes" :key="index" @click.native="deleteQuote">{{ item }}</app-quote>
  </div>
</template>

<script>
import Quote from "./Quote.vue";

export default {
  props: ["quotes"],
  components: {
    appQuote: Quote
  },
  methods: {
    deleteQuote(index) {
      this.$emit("quoteDeleted", index);
    }
  }
};
</script>

<style>
</style>
