<template>
  <div class="container">
    <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
    <app-new-quote @quoteAdded="newQuote"></app-new-quote>
    <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
    <div
      class="alert alert-primary mt-4 text-center"
      role="alert"
    >Info: Click on a Quote to delete it!</div>
  </div>
</template>

<script>
import QuoteGrid from "./components/QuoteGrid.vue";
import NewQuote from "./components/NewQuote";
import Header from "./components/Header";

export default {
  data() {
    return {
      quotes: ["Testing the best quotes in tne world!"],
      maxQuotes: 12
    };
  },
  methods: {
    newQuote(quote) {
      if (this.quotes.length >= this.maxQuotes) {
        return alert("Please delete quotes first");
      }
      this.quotes.push(quote);
    },
    deleteQuote(index) {
      this.quotes.splice(index, 1);
    }
  },
  components: {
    appQuoteGrid: QuoteGrid,
    appNewQuote: NewQuote,
    appHeader: Header
  }
};
</script>

<style>
/* * {
  box-sizing: border-box;
} */

.container {
  border: 1px solid black;
  padding: 10px;
}
</style>
